{% extends 'base.html' %} {% block content %}

<h1>New Store</h1>
<form action="{{ url_for('main.new_store') }}" method="POST">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Enter a store</legend>
    <div>
      {{ form.title.label }} {{ form.title }} {% for error in form.title.errors
      %}
      <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div>
      {{ form.address.label }} {{ form.address }} {% for error in
      form.address.errors %}
      <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
