{% extends 'base.html' %}
{% block content %}

<h1>Store - {{ store.title }}</h1>

<strong>Address:</strong> {{ store.address }}

<strong>Created by:</strong> {{store.created_by}}


<h2>Items</h2>

<div class="items">
    {% for item in store.items %}
    <div class="item-details">
        <a href="/item/{{ item.id }}"><img src="{{ item.photo_url }}" alt="{{ item.name }}" width="200px">
        <p><strong>{{ item.name }}</strong></p></a>
        <p><strong>Price: ${{ item.price }}</strong></p>
    </div>
    {% endfor %}
</div>


<h2>Edit Store</h2>

<form
  action="{{ url_for('main.store_detail', store_id=store.id) }}"
  method="POST"
>
  {{ form.csrf_token }}
  <fieldset>
    <legend>Update this store</legend>
    <div>
      {{ form.title.label }} {{ form.title }} {% for error in form.title.errors
      %}
      <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div>
      {{ form.address.label }} {{ form.address }} {% for error in
      form.address.errors %}
      <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}